player-connection-mode=Listen
player-connection-guid=1774898075
player-connection-debug=0
player-connection-project-name=SteamLobbyTestTickrate64
player-connection-ip=192.168.1.2
player-connection-ip=172.28.144.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
